:root{
    --color01:rgb(154, 240, 159) !important;
    --color02:rgb(48, 143, 35) !important;
    --color03:rgb(38, 83, 52) !important;
    --color04:white !important;
    --color05:black !important;
    --color06:rgb(209, 83, 74) !important;

    --black25:rgba(0,0,0,0.25)!important;
    --black50:rgba(0,0,0,0.5)!important;
    --black75:rgba(0,0,0,0.75)!important;

    --white25:rgba(255,255,255,0.25)!important;
    --white50:rgba(255,255,255,0.5)!important;
    --white75:rgba(255,255,255,0.75)!important;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&family=Noto+Serif+TC:wght@600&display=swap');

html,body{
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif TC', serif;}


#app{
    height: 100%;
    background-color: var(--color01);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transtion-zero{
    transition: 0s;
}

#nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--color04);
    font-size: 2.2rem;
}

/* home */
#radial-progress{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#home .btn{
    width: 50px;
    margin: 0.5rem;
}

#home h1 {
    color: var(--color03);
}

#home h2 {
    color: var(--color03);
}

#radial-progress img{
    cursor: pointer;
}



#settings{
    text-align: center;
}
#settings h4{
    color: #fff;
    background: var(--color06);
    display: inline-block;
    margin: 0.2rem;
    padding: 0.4rem;
}

#player1{
    width: 120%;

}

#player2{
    width: 120%;
}

#btn-add{
    background-color: var(--color02);
}

.table td,.table th{
text-align:center;
}

#settings .table thead th{
    background-color:var(--color02);
    border: none;
    color: var(--color04);
}